# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Conda environment files
.env/
.venv/
env/
venv/
*.env

# Virtual environment folders
*.egg-info/
.eggs/
pip-wheel-metadata/

# VS Code
.vscode/

# Docker files
*.log
Dockerfile~

# OS files
.DS_Store

# Pytest / Coverage
.coverage
htmlcov/
.pytest_cache/
